.container {
    margin: 0 auto;
    padding: 0 32px;
    max-width: calc(1376px + 64px);

    &--header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}