.header {
    padding: 31px 0 100px;
    height: 800px;
    color: #fff;
    background: #000 url('../../img/header/header-bg.jpg') no-repeat center bottom / cover;
    border-radius: 0 0 54px 54px;
}