.about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 0 auto;
    max-width: 1144px;

    @media (max-width: 949px) {
        gap: 24px;
    }

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }

    &__desc {
        display: grid;
        align-content: center;
        gap: 32px;

        @media (max-width: 640px) {
            gap: 18px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        color: #161414;

        @media (max-width: 1139px) {
            font-size: 26px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 2;
        color: #5b5b5b;

        @media (max-width: 1139px) {
            font-size: 14px;
        }
    }

    &__btn {
        justify-self: flex-start;
    }

    &__img {
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }
}