.card {
    position: relative;

    &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        &:hover ~ .card__title {
            color: #7b61ff;
        }
    }

    &__img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 8px;
        border-radius: 12px;
        transition: all .4s;

        &--hotel {
            margin-bottom: 10px;
        }

        &--activities {
            margin-bottom: 16px;
        }

        &--no-margin {
            margin: 0;
        }

        &--h100 {
            height: 100%;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        color: #161414;
        transition: color .2s;

        &--hotel {
            margin-bottom: 12px;
        }

        &--activities {
            margin-bottom: 0;
        }

        &--big {
            font-weight: 600;
            font-size: 20px;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 2;
        color: #5b5b5b;

        @media (max-width: 1139px) {
            font-size: 14px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--wide {
            margin-top: auto;
            justify-content: flex-start;
            gap: 24px;

            @media (max-width: 1139px) {
                gap: 10px;
            }
        }
    }

    &__footer-link {
        position: relative;
        z-index: 1;
        padding-left: 20px;
        font-size: 12px;
        color: #878787;
        transition: color .2s;

        &:hover {
            color: #7b61ff;
        }

        &--date {
            background: url('../../img/icons/calendar-gray.svg') no-repeat left 1px;
        }

        &--author {
            background: url('../../img/icons/user.svg') no-repeat left 1px;
        }

        &--comments {
            background: url('../../img/icons/comment.svg') no-repeat left 1px;
        }
    }

    &__location {
        position: relative;
        z-index: 1;
        font-size: 13px;
        color: #979797;
        transition: color .2s;

        &:hover {
            color: #7b61ff;
        }

        &--icon {
            padding-left: 20px;
            background: url('../img/icons/map-pin-line.svg') no-repeat left 1px;
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    &--wide {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        @media (max-width: 640px) {
            grid-template-columns: 1fr;
        }
    }
}