.nav-list {
    display: flex;
    align-items: center;
    gap: 54px;

    @media (max-width: 1140px) {
        display: none;
    }

    &__item {}

    &__link {
        font-weight: 300;
        text-transform: capitalize;
        color: #fff;
        opacity: 0.7;
        transition: opacity .2s;

        &:hover {
            opacity: 1;
        }
    }

    &__link--active {
        opacity: 1;
        pointer-events: none;
    }
}