.section {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
    }

    &__cards {
        display: grid;
        gap: 32px;

        &--popular {
            grid-template-columns: repeat(6, 1fr);
        }

        &--hotels {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}